@font-face {
	font-family: "CherryCreamSoda";
	src: url(../fonts/CherryCreamSoda.ttf);
}

body {
	background-color: #000;
	background-repeat: no-repeat;
	background-size:cover;
	background-image: url(../images/family-watching-tv.jpg);
	font-family: "CherryCreamSoda";
}


#poweredBy {
	margin-top: 1%;
	margin-right: 10%;
}


.showButtons {
	margin-top: 7px;
	margin-bottom: 5px;
	margin-left: 50px;
}


.showButton {
	margin: 10px;
    padding: 3px 15px 3px 15px;
    border-radius: 50px 15px;
    background-color: #fff;
    outline: none;
}


#query-input {
	padding-left: 7px;
}


#Add-a-Show {
	color: #fff;
	margin-right: 5px;
}


#search {
	margin-left: 0px;
	margin-top: 20px;
}


#add-show {
	text-align: center;
	font-weight: bold;
	background-color: #D3D3D3;
	margin-top: 10px;
	padding: 3px 61px 3px 60px;
	border-radius: 50px 15px;
	outline: none;
}


#clear-gifs {
	text-align: center;
	font-weight: bold;
	background-color: #D3D3D3;
	margin-top: 10px;
	padding: 3px 61px 3px 60px;
	border-radius: 50px 15px;
	outline: none;
}


.ratingText {
	color: #fff;
	font-weight: bold;
	text-align: center;
	
}


.gifsDiv {
	display: inline-block;
	margin-right: 10px;
}


.showGIF {
	border-width: 10px;
	border-color: #000;
}
